#btn1{
  margin-bottom: 3px;
  width: 40px;
}
#btn2{
  margin-bottom: 3px;
  width: 40px;
}
#btn3{
  margin-bottom: 3px;
  width: 40px;
}
#btn4{
  margin-bottom: 3px;
  width: 40px;
}
#btn5{
  margin-bottom: 3px;
  width: 40px;
}
#btn6{
  margin-bottom: 3px;
  width: 40px;
}
#btn7{
  margin-bottom: 3px;
  width: 40px;
}
#btn8{
  margin-bottom: 3px;
  width: 40px;
}
#btn9{
  margin-bottom: 3px;
  width: 40px;
}
